In [2]:
import os

import pandas as pd

files_directory = os.path.join("..", "additional_files", "archives", "lien_2")
file_commune = "v_commune_2024.csv"
file_departement = "v_departement_2024.csv"
file_region = "v_region_2024.csv"

## <u> df_commune </u>

In [3]:
df_commune = pd.read_csv(
    os.path.join(files_directory, file_commune),
    usecols=[
        "COM",
        "REG",
        "DEP",
        "LIBELLE",
    ],
)

In [4]:
df_commune

         COM   REG  DEP                  LIBELLE
0      01001  84.0   01  L'Abergement-Clémenciat
1      01002  84.0   01    L'Abergement-de-Varey
2      01004  84.0   01        Ambérieu-en-Bugey
3      01005  84.0   01      Ambérieux-en-Dombes
4      01006  84.0   01                  Ambléon
...      ...   ...  ...                      ...
37539  97613   6.0  976            M'Tsangamouji
37540  97614   6.0  976                 Ouangani
37541  97615   6.0  976                 Pamandzi
37542  97616   6.0  976                     Sada
37543  97617   6.0  976                 Tsingoni

[37544 rows x 4 columns]

In [5]:
df_commune.rename(
    {
        "COM": "code_commune",
        "REG": "code_region",
        "DEP": "code_departement",
        "LIBELLE": "nom_commune",
    },
    axis=1,
    inplace=True,
)

In [6]:
# On ajoute une colonne nom_ville (idem que nom_commune sans les arrondissements pour Paris, Marseille et Lyon)
#  car on va préférer "Lyon" à "Lyon 1er Arrondissement" ou "Lyon 2e Arrondissement"...

df_commune["nom_ville"] = df_commune.apply(lambda x: x.nom_commune.split(" ")[0] if "Arrondissement" in x.nom_commune else x.nom_commune, axis=1)

In [7]:
# Vérification
df_commune[df_commune.nom_commune.str.contains("Arrondissement")]

,code_commune,code_region,code_departement,nom_commune,nom_ville
4598,13201,93.0,13,Marseille 1er Arrondissement,Marseille
4599,13202,93.0,13,Marseille 2e Arrondissement,Marseille
4600,13203,93.0,13,Marseille 3e Arrondissement,Marseille
4601,13204,93.0,13,Marseille 4e Arrondissement,Marseille
4602,13205,93.0,13,Marseille 5e Arrondissement,Marseille
4603,13206,93.0,13,Marseille 6e Arrondissement,Marseille
4604,13207,93.0,13,Marseille 7e Arrondissement,Marseille
4605,13208,93.0,13,Marseille 8e Arrondissement,Marseille
4606,13209,93.0,13,Marseille 9e Arrondissement,Marseille
4607,13210,93.0,13,Marseille 10e Arrondissement,Marseille
4608,13211,93.0,13,Marseille 11e Arrondissement,Marseille
4609,13212,93.0,13,Marseille 12e Arrondissement,Marseille
4610,13213,93.0,13,Marseille 13e Arrondissement,Marseille
4611,13214,93.0,13,Marseille 14e Arrondissement,Marseille
4612,13215,93.0,13,Marseille 15e Arrondissement,Marseille
4613,13216,93.0,13,Marseille 16e Arrondissement,Marseille
29324,69381,84.0,69,Lyon 1er Arrondissement,Lyon
29325,69382,84.0,69,Lyon 2e Arrondissement,Lyon
29326,69383,84.0,69,Lyon 3e Arrondissement,Lyon
29327,69384,84.0,69,Lyon 4e Arrondissement,Lyon
29328,69385,84.0,69,Lyon 5e Arrondissement,Lyon
29329,69386,84.0,69,Lyon 6e Arrondissement,Lyon
29330,69387,84.0,69,Lyon 7e Arrondissement,Lyon
29331,69388,84.0,69,Lyon 8e Arrondissement,Lyon
29332,69389,84.0,69,Lyon 9e Arrondissement,Lyon
31483,75101,11.0,75,Paris 1er Arrondissement,Paris
31484,75102,11.0,75,Paris 2e Arrondissement,Paris
31485,75103,11.0,75,Paris 3e Arrondissement,Paris
31486,75104,11.0,75,Paris 4e Arrondissement,Paris
31487,75105,11.0,75,Paris 5e Arrondissement,Paris
31488,75106,11.0,75,Paris 6e Arrondissement,Paris
31489,75107,11.0,75,Paris 7e Arrondissement,Paris
31490,75108,11.0,75,Paris 8e Arrondissement,Paris
31491,75109,11.0,75,Paris 9e Arrondissement,Paris
31492,75110,11.0,75,Paris 10e Arrondissement,Paris
31493,75111,11.0,75,Paris 11e Arrondissement,Paris
31494,75112,11.0,75,Paris 12e Arrondissement,Paris
31495,75113,11.0,75,Paris 13e Arrondissement,Paris
31496,75114,11.0,75,Paris 14e Arrondissement,Paris
31497,75115,11.0,75,Paris 15e Arrondissement,Paris
31498,75116,11.0,75,Paris 16e Arrondissement,Paris
31499,75117,11.0,75,Paris 17e Arrondissement,Paris
31500,75118,11.0,75,Paris 18e Arrondissement,Paris
31501,75119,11.0,75,Paris 19e Arrondissement,Paris
31502,75120,11.0,75,Paris 20e Arrondissement,Paris

In [8]:
df_commune

,code_commune,code_region,code_departement,nom_commune,nom_ville
0,01001,84.0,01,L'Abergement-Clémenciat,L'Abergement-Clémenciat
1,01002,84.0,01,L'Abergement-de-Varey,L'Abergement-de-Varey
2,01004,84.0,01,Ambérieu-en-Bugey,Ambérieu-en-Bugey
3,01005,84.0,01,Ambérieux-en-Dombes,Ambérieux-en-Dombes
4,01006,84.0,01,Ambléon,Ambléon
...,...,...,...,...,...
37539,97613,6.0,976,M'Tsangamouji,M'Tsangamouji
37540,97614,6.0,976,Ouangani,Ouangani
37541,97615,6.0,976,Pamandzi,Pamandzi
37542,97616,6.0,976,Sada,Sada
37543,97617,6.0,976,Tsingoni,Tsingoni

## <u> df_departement </u>

In [9]:
df_departement = pd.read_csv(
    os.path.join(files_directory, file_departement),
    usecols=[
        "DEP",
        "LIBELLE",
    ],
)

In [10]:
df_departement.rename(
    {
        "DEP": "code_departement",
        "LIBELLE": "nom_departement",
    },
    axis=1,
    inplace=True,
)

In [11]:
df_departement

    code_departement          nom_departement
0                 01                      Ain
1                 02                    Aisne
2                 03                   Allier
3                 04  Alpes-de-Haute-Provence
4                 05             Hautes-Alpes
..               ...                      ...
96               971               Guadeloupe
97               972               Martinique
98               973                   Guyane
99               974               La Réunion
100              976                  Mayotte

[101 rows x 2 columns]

## <u> df_region </u>

In [12]:
df_region = pd.read_csv(
    os.path.join(files_directory, file_region),
    usecols=[
        "REG",
        "LIBELLE",
    ],
)

In [13]:
df_region.rename(
    {
        "REG": "code_region",
        "LIBELLE": "nom_region",
    },
    axis=1,
    inplace=True,
)

In [14]:
df_region

    code_region                  nom_region
0             1                  Guadeloupe
1             2                  Martinique
2             3                      Guyane
3             4                  La Réunion
4             6                     Mayotte
5            11               Île-de-France
6            24         Centre-Val de Loire
7            27     Bourgogne-Franche-Comté
8            28                   Normandie
9            32             Hauts-de-France
10           44                   Grand Est
11           52            Pays de la Loire
12           53                    Bretagne
13           75          Nouvelle-Aquitaine
14           76                   Occitanie
15           84        Auvergne-Rhône-Alpes
16           93  Provence-Alpes-Côte d'Azur
17           94                       Corse

## <u> merging </u>

In [15]:
df_commune.head(2)

,code_commune,code_region,code_departement,nom_commune,nom_ville
0,01001,84.0,01,L'Abergement-Clémenciat,L'Abergement-Clémenciat
1,01002,84.0,01,L'Abergement-de-Varey,L'Abergement-de-Varey

In [16]:
df_departement.head(2)

  code_departement nom_departement
0               01             Ain
1               02           Aisne

In [17]:
df_region.head(2)

   code_region  nom_region
0            1  Guadeloupe
1            2  Martinique

In [18]:
df = df_commune.merge(df_departement, on="code_departement").merge(df_region, on="code_region")

In [19]:
df = df[["code_commune", "nom_commune", "nom_ville", "nom_departement", "nom_region"]]

In [20]:
df[df.nom_commune.str.contains("Saint-Cyr")]

,code_commune,nom_commune,nom_ville,nom_departement,nom_region
288,01343,Saint-Cyr-sur-Menthon,Saint-Cyr-sur-Menthon,Ain,Auvergne-Rhône-Alpes
1746,05051,Étoile-Saint-Cyrice,Étoile-Saint-Cyrice,Hautes-Alpes,Provence-Alpes-Côte d'Azur
2247,07227,Saint-Cyr,Saint-Cyr,Ardèche,Auvergne-Rhône-Alpes
5866,17322,Saint-Cyr-du-Doret,Saint-Cyr-du-Doret,Charente-Maritime,Nouvelle-Aquitaine
6498,19196,Saint-Cyr-la-Roche,Saint-Cyr-la-Roche,Corrèze,Nouvelle-Aquitaine
8224,24397,Saint-Cyr-les-Champagnes,Saint-Cyr-les-Champagnes,Dordogne,Nouvelle-Aquitaine
9765,27527,Saint-Cyr-de-Salerne,Saint-Cyr-de-Salerne,Eure,Normandie
9767,27529,Saint-Cyr-la-Campagne,Saint-Cyr-la-Campagne,Eure,Normandie
13701,36188,Saint-Cyran-du-Jambot,Saint-Cyran-du-Jambot,Indre,Centre-Val de Loire
13966,37214,Saint-Cyr-sur-Loire,Saint-Cyr-sur-Loire,Indre-et-Loire,Centre-Val de Loire
14951,39479,Saint-Cyr-Montmalin,Saint-Cyr-Montmalin,Jura,Bourgogne-Franche-Comté
15438,41085,La Ferté-Saint-Cyr,La Ferté-Saint-Cyr,Loir-et-Cher,Centre-Val de Loire
15547,41205,Saint-Cyr-du-Gault,Saint-Cyr-du-Gault,Loir-et-Cher,Centre-Val de Loire
15833,42212,Saint-Cyr-de-Favières,Saint-Cyr-de-Favières,Loire,Auvergne-Rhône-Alpes
15834,42213,Saint-Cyr-de-Valorges,Saint-Cyr-de-Valorges,Loire,Auvergne-Rhône-Alpes
15835,42214,Saint-Cyr-les-Vignes,Saint-Cyr-les-Vignes,Loire,Auvergne-Rhône-Alpes
16671,45272,Saint-Cyr-en-Val,Saint-Cyr-en-Val,Loiret,Centre-Val de Loire
18015,50461,Saint-Cyr,Saint-Cyr,Manche,Normandie
18016,50462,Saint-Cyr-du-Bailleul,Saint-Cyr-du-Bailleul,Manche,Normandie
19368,53208,Saint-Cyr-en-Pail,Saint-Cyr-en-Pail,Mayenne,Pays de la Loire
19369,53209,Saint-Cyr-le-Gravelais,Saint-Cyr-le-Gravelais,Mayenne,Pays de la Loire
23406,61379,Saint-Cyr-la-Rosière,Saint-Cyr-la-Rosière,Orne,Normandie
27157,69191,Saint-Cyr-au-Mont-d'Or,Saint-Cyr-au-Mont-d'Or,Rhône,Auvergne-Rhône-Alpes
27158,69192,Saint-Cyr-le-Chatoux,Saint-Cyr-le-Chatoux,Rhône,Auvergne-Rhône-Alpes
27159,69193,Saint-Cyr-sur-le-Rhône,Saint-Cyr-sur-le-Rhône,Rhône,Auvergne-Rhône-Alpes
28185,71402,Saint-Cyr,Saint-Cyr,Saône-et-Loire,Bourgogne-Franche-Comté
30382,77405,Saint-Cyr-sur-Morin,Saint-Cyr-sur-Morin,Seine-et-Marne,Île-de-France
30713,78545,Saint-Cyr-l'École,Saint-Cyr-l'École,Yvelines,Île-de-France
30939,79244,Saint-Cyr-la-Lande,Saint-Cyr-la-Lande,Deux-Sèvres,Nouvelle-Aquitaine
32411,83112,Saint-Cyr-sur-Mer,Saint-Cyr-sur-Mer,Var,Provence-Alpes-Côte d'Azur
32777,85205,Saint-Cyr-des-Gâts,Saint-Cyr-des-Gâts,Vendée,Pays de la Loire
32778,85206,Saint-Cyr-en-Talmondais,Saint-Cyr-en-Talmondais,Vendée,Pays de la Loire
32878,86019,Beaumont Saint-Cyr,Beaumont Saint-Cyr,Vienne,Nouvelle-Aquitaine
33259,87141,Saint-Cyr,Saint-Cyr,Haute-Vienne,Nouvelle-Aquitaine
33885,89063,La Celle-Saint-Cyr,La Celle-Saint-Cyr,Yonne,Bourgogne-Franche-Comté
34125,89341,Saint-Cyr-les-Colons,Saint-Cyr-les-Colons,Yonne,Bourgogne-Franche-Comté
34497,91544,Saint-Cyr-la-Rivière,Saint-Cyr-la-Rivière,Essonne,Île-de-France
34498,91546,Saint-Cyr-sous-Dourdan,Saint-Cyr-sous-Dourdan,Essonne,Île-de-France
34815,95543,Saint-Cyr-en-Arthies,Saint-Cyr-en-Arthies,Val-d'Oise,Île-de-France

In [ ]:
df.to_csv(
    os.path.join("..", "additional_files", "ville_departement_region_names.csv"),
    index=False,  # pour ne pas écrire les index
)