In [931]:
import os

import pandas as pd

json_files_directory = os.path.join("outputs", "_archives", "2025-03-02--exemples-jsons-et-json-concatenated")
json_name = "_offres_concatenated_13639_offres__2025-03-05--22h09.json"

In [932]:
pd.options.display.max_rows = 3000
pd.options.display.max_columns = 100

In [933]:
df = pd.read_json(
    os.path.join(json_files_directory, json_name),
    dtype=False,
)

In [934]:
df.head(2)

,id,intitule,description,dateCreation,dateActualisation,lieuTravail,romeCode,romeLibelle,appellationlibelle,entreprise,typeContrat,typeContratLibelle,natureContrat,experienceExige,experienceLibelle,competences,salaire,dureeTravailLibelle,dureeTravailLibelleConverti,alternance,contact,agence,nombrePostes,accessibleTH,deplacementCode,deplacementLibelle,qualificationCode,qualificationLibelle,codeNAF,secteurActivite,secteurActiviteLibelle,qualitesProfessionnelles,origineOffre,offresManqueCandidats,contexteTravail,formations,langues,permis,complementExercice,experienceCommentaire,conditionExercice
0,188VMCV,Administrateur d'exploitation IBMi (H/F),Rejoignez un leader de la transformation digit...,2025-02-28T11:00:58.629Z,2025-02-28T13:21:40.016Z,"{'libelle': '38 - SEYSSINET PARISET', 'latitud...",M1817,Administrateur / Administratrice sécurité info...,Administrateur / Administratrice sécurité info...,"{'nom': 'HARDIS GROUPE', 'entrepriseAdaptee': ...",CDI,CDI,Contrat travail,E,3 An(s),"[{'code': '300204', 'libelle': 'Administrer un...",{'commentaire': 'Déterminée en fonction du pr...,35H Autre,Temps plein,False,"{'nom': 'HARDIS GROUPE - Mme Stella DI NOTO', ...",{},1,False,1,Jamais,7,Technicien,62.01Z,62,Programmation informatique,"[{'libelle': 'Faire preuve d'autonomie', 'desc...","{'origine': '1', 'urlOrigine': 'https://candid...",False,"{'horaires': ['35H Autre'], 'conditionsExercic...",NaN,NaN,NaN,NaN,NaN,NaN
1,188TYYN,Technicien Sécurité Informatique Débutant H/F ...,Intégré(e) à notre équipe dédiée à la sécurité...,2025-02-27T17:24:39.560Z,2025-02-27T17:24:40.015Z,"{'libelle': '76 - Eslettes', 'latitude': 49.54...",M1817,Administrateur / Administratrice sécurité info...,Administrateur / Administratrice sécurité info...,"{'nom': 'OLYMPE CYBERDEFENSE', 'entrepriseAdap...",CDI,CDI,Contrat travail,D,Débutant accepté,NaN,{'libelle': 'Annuel de 23000.0 Euros à 26000.0...,35H Travail en journée,Temps plein,False,{'coordonnees1': 'https://taleez.com/apply/tec...,{},1,False,NaN,NaN,5,Employé non qualifié,62.02A,62,Conseil en systèmes et logiciels informatiques,NaN,"{'origine': '1', 'urlOrigine': 'https://candid...",False,"{'horaires': ['35H Travail en journée'], 'cond...",NaN,NaN,NaN,NaN,NaN,NaN

In [935]:
df.shape

(13419, 41)

In [936]:
lieuTravail_normalized = pd.json_normalize(df["lieuTravail"])

df = df.join(lieuTravail_normalized)

df_lieu = df[["id", "intitule"] + list(lieuTravail_normalized.columns)]

In [937]:
df_lieu

,id,intitule,libelle,latitude,longitude,codePostal,commune
0,188VMCV,Administrateur d'exploitation IBMi (H/F),38 - SEYSSINET PARISET,45.174023,5.679611,38170,38485
1,188TYYN,Technicien Sécurité Informatique Débutant H/F ...,76 - Eslettes,49.545866,1.055336,76710,76245
2,188TSBV,Technicien administrateur des systèmes d'infor...,72 - LE MANS,47.993378,0.191169,72000,72181
3,188LMFH,"Administrateur systèmes, réseaux et sécurité (...",48 - MENDE,44.526181,3.484851,48000,48095
4,188JCHD,Adjoint du Chef de Service Informatique et Mul...,75 - PARIS 06,48.849268,2.330883,75006,75106
...,...,...,...,...,...,...,...
13414,1988889,Consultante / Consultant CRM Siebel - Montpell...,34 - MONTPELLIER,43.610476,3.870480,34000,34172
13415,1988437,Ingénieur d'application H/F,75,NaN,NaN,NaN,75056
13416,1987551,Lead Control Engineer F/H (H/F),90 - BELFORT,47.640938,6.857469,90000,90010
13417,1986825,Responsable Etudes (H/F),94 - CHEVILLY LARUE,48.767525,2.350879,94550,94021
13418,1986485,CDI- ASSISTANT COORDINATEUR H/F,92 - CLICHY,48.903480,2.304932,92110,92024

#### <u> Cas 01 : quand libelle = ("FRANCE"|"France"|"France entière") (dans ce cas code postal = code commune = NAN), et latitude = longitude = NAN </u>

In [938]:
# df_lieu[~df_lieu.libelle.str.match(r"^\d{2}\s-\s")].value_counts("libelle")

In [939]:
# cas_01 = df_lieu[df_lieu.libelle.isin(["FRANCE", "France", "France entière"]) \
#                 & df_lieu.latitude.isna() \
#                 & df_lieu.longitude.isna() \
#                 ]  # fmt:off

In [940]:
# cas_01

In [941]:
# # On écrit le numéro du cas dans "lieu_cas"
# df_lieu.loc[df_lieu.id.isin(cas_01.id), "lieu_cas"] = "cas_01"

In [942]:
# df_lieu[df_lieu.lieu_cas == "cas_01"]

In [943]:
# df_lieu.value_counts("lieu_cas")

## <u> Cas 02 : quand libelle = ("FRANCE"|"France"|"France entière") (dans ce cas code postal = code commune = NAN), et latitude/longitude sont renseignés </u>

In [944]:
# cas_02 = df_lieu[df_lieu.libelle.isin(["FRANCE", "France", "France entière"]) \
#                & ~df_lieu.latitude.isna() \
#                & ~df_lieu.longitude.isna() \
#                 ]  # fmt:off

In [945]:
# cas_02

In [946]:
# # On écrit le numéro du cas dans "lieu_cas"
# df_lieu.loc[df_lieu.id.isin(cas_02.id), "lieu_cas"] = "cas_02"

In [947]:
# df_lieu[df_lieu.lieu_cas == "cas_02"]

In [948]:
# df_lieu.value_counts("lieu_cas")

## <u> Cas 03 : </u>

In [949]:
# cas_03 = df_lieu[df_lieu.libelle.str.match(r"^\d{2}$")]

In [950]:
# cas_03

In [951]:
# # On écrit le numéro du cas dans "lieu_cas"
# df_lieu.loc[df_lieu.id.isin(cas_03.id), "lieu_cas"] = "cas_03"

In [952]:
# df_lieu.value_counts("lieu_cas")

In [953]:
# df_lieu[df_lieu.lieu_cas == "cas_03"]

## <u> Cas 04 : </u>

In [954]:
# cas_04 = df_lieu[df_lieu.libelle.str.match(r"^\d{2}\s-\s")
#                & df_lieu.latitude.isna()
#                & df_lieu.longitude.isna()
#                & df_lieu.codePostal.isna()
#                & df_lieu.commune.isna()
#                ]  # fmt:off

In [955]:
# cas_04

In [956]:
# # On écrit le numéro du cas dans "lieu_cas"
# df_lieu.loc[df_lieu.id.isin(cas_04.id), "lieu_cas"] = "cas_04"

In [957]:
# df_lieu.value_counts("lieu_cas")

In [958]:
# df_lieu[df_lieu.lieu_cas == "cas_04"]

## <u> Cas 05 : </u>

In [959]:
# df_lieu[~df_lieu.lieu_cas.isin(["cas_01", "cas_02", "cas_03", "cas_04"])]

--------------

--------------

--------------

--------------

--------------

--------------

## <u> Cas 01 : </u>

In [960]:
cas_01 = df_lieu[~df_lieu.commune.isna()]

In [961]:
cas_01

,id,intitule,libelle,latitude,longitude,codePostal,commune
0,188VMCV,Administrateur d'exploitation IBMi (H/F),38 - SEYSSINET PARISET,45.174023,5.679611,38170,38485
1,188TYYN,Technicien Sécurité Informatique Débutant H/F ...,76 - Eslettes,49.545866,1.055336,76710,76245
2,188TSBV,Technicien administrateur des systèmes d'infor...,72 - LE MANS,47.993378,0.191169,72000,72181
3,188LMFH,"Administrateur systèmes, réseaux et sécurité (...",48 - MENDE,44.526181,3.484851,48000,48095
4,188JCHD,Adjoint du Chef de Service Informatique et Mul...,75 - PARIS 06,48.849268,2.330883,75006,75106
...,...,...,...,...,...,...,...
13414,1988889,Consultante / Consultant CRM Siebel - Montpell...,34 - MONTPELLIER,43.610476,3.870480,34000,34172
13415,1988437,Ingénieur d'application H/F,75,NaN,NaN,NaN,75056
13416,1987551,Lead Control Engineer F/H (H/F),90 - BELFORT,47.640938,6.857469,90000,90010
13417,1986825,Responsable Etudes (H/F),94 - CHEVILLY LARUE,48.767525,2.350879,94550,94021
13418,1986485,CDI- ASSISTANT COORDINATEUR H/F,92 - CLICHY,48.903480,2.304932,92110,92024

In [962]:
# On écrit le numéro du cas dans "lieu_cas"
df_lieu.loc[df_lieu.id.isin(cas_01.id), "lieu_cas"] = "cas_01"

C:\Users\vimch\AppData\Local\Temp\ipykernel_16936\2265703323.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lieu.loc[df_lieu.id.isin(cas_01.id), "lieu_cas"] = "cas_01"

In [963]:
df_lieu

,id,intitule,libelle,latitude,longitude,codePostal,commune,lieu_cas
0,188VMCV,Administrateur d'exploitation IBMi (H/F),38 - SEYSSINET PARISET,45.174023,5.679611,38170,38485,cas_01
1,188TYYN,Technicien Sécurité Informatique Débutant H/F ...,76 - Eslettes,49.545866,1.055336,76710,76245,cas_01
2,188TSBV,Technicien administrateur des systèmes d'infor...,72 - LE MANS,47.993378,0.191169,72000,72181,cas_01
3,188LMFH,"Administrateur systèmes, réseaux et sécurité (...",48 - MENDE,44.526181,3.484851,48000,48095,cas_01
4,188JCHD,Adjoint du Chef de Service Informatique et Mul...,75 - PARIS 06,48.849268,2.330883,75006,75106,cas_01
...,...,...,...,...,...,...,...,...
13414,1988889,Consultante / Consultant CRM Siebel - Montpell...,34 - MONTPELLIER,43.610476,3.870480,34000,34172,cas_01
13415,1988437,Ingénieur d'application H/F,75,NaN,NaN,NaN,75056,cas_01
13416,1987551,Lead Control Engineer F/H (H/F),90 - BELFORT,47.640938,6.857469,90000,90010,cas_01
13417,1986825,Responsable Etudes (H/F),94 - CHEVILLY LARUE,48.767525,2.350879,94550,94021,cas_01
13418,1986485,CDI- ASSISTANT COORDINATEUR H/F,92 - CLICHY,48.903480,2.304932,92110,92024,cas_01

In [964]:
# note : si commune = NAN, alors code_postal = NAN
df_lieu[~df_lieu.lieu_cas.isin(["cas_01"])  # != cas 01
      & ~df_lieu.codePostal.isna()
        ]  # fmt: off

Empty DataFrame
Columns: [id, intitule, libelle, latitude, longitude, codePostal, commune, lieu_cas]
Index: []

## <u> Cas 02 : </u>

In [965]:
df_lieu[~df_lieu.lieu_cas.isin(["cas_01"])  # != cas 01
      & ~df_lieu.latitude.isna()
        ]  # fmt: off

,id,intitule,libelle,latitude,longitude,codePostal,commune,lieu_cas
128,2562212,Administrateur / Administratrice système et ré...,53 - Mayenne,48.084490,-0.752160,NaN,NaN,NaN
149,2457112,Administrateur / Administratrice système infor...,31 - Garonne (Haute),43.622232,1.493516,NaN,NaN,NaN
267,7556682,Administrateur / Administratrice système infor...,34 - Hérault,43.583130,3.867020,NaN,NaN,NaN
397,2989000,Administrateur Système Réseaux H/F,France,48.951134,2.241041,NaN,NaN,NaN
584,2494698,Administrateur Bases de Données H/F,France,45.797405,4.851249,NaN,NaN,NaN
633,2300531,Administrateur Systèmes et Réseaux H/F,France,50.687977,3.182584,NaN,NaN,NaN
654,2193109,Administrateur Base de Données H/F,France,49.251492,4.040230,NaN,NaN,NaN
661,2140708,Administrateur Téléphonie et Réseaux H/F,60 - Oise,49.272991,2.534622,NaN,NaN,NaN
701,1906841,Administrateur Système et Réseau Confirmé H/F,33 - Gironde,44.719147,-0.614708,NaN,NaN,NaN
722,1787748,Administrateur Réseaux H/F,France,48.111980,-1.681864,NaN,NaN,NaN
1258,2989059,Ingénieur Systèmes et Réseaux H/F,France,47.903000,1.909300,NaN,NaN,NaN
1410,2942555,Technicien Informatique H/F,France,47.231636,-1.548310,NaN,NaN,NaN
1716,2825185,DCS GROUP - Ingénieur / Ingénieure système inf...,74 - Savoie (Haute),45.905895,6.125911,NaN,NaN,NaN
1800,2779795,Ingénieur Réseaux H/F,13 - Bouches du Rhône,43.312119,5.380110,NaN,NaN,NaN
2172,2632260,Assistant(e) d'Exploitation H/F,13 - Bouches du Rhône,43.349277,5.433722,NaN,NaN,NaN
2195,2622225,Technicien / Technicienne réseau informatique ...,31 - Garonne (Haute),43.587185,1.429885,NaN,NaN,NaN
2198,2621785,Technicien Systèmes et Réseaux H/F,France,50.631718,3.047833,NaN,NaN,NaN
2204,2620476,Chef d'Equipe H/F,France,47.801304,1.061061,NaN,NaN,NaN
2677,2351613,Référent Technique SAP H/F,75 - Paris (Dept.),48.872528,2.312583,NaN,NaN,NaN
2681,2347948,Ingénieur Data H/F,France,50.631718,3.047833,NaN,NaN,NaN
2754,2300997,Ingénieur Système Windows H/F,France,48.896069,2.206713,NaN,NaN,NaN
2755,2300948,Ingénieur Sécurité Informatique H/F,France,43.711998,7.238269,NaN,NaN,NaN
2757,2300610,Architecte Solutions H/F,75 - Paris (Dept.),48.828716,2.362468,NaN,NaN,NaN
2791,2247658,Technicien d'Exploitation H/F,France,43.399296,6.077402,NaN,NaN,NaN
2793,2246713,Ingénieur Systèmes Windows H/F,France,48.896069,2.206713,NaN,NaN,NaN
2927,2193683,Technicien d'Exploitation H/F,67 - Rhin (Bas),48.459347,7.480064,NaN,NaN,NaN
2962,2138788,Ingénieur Systèmes et Réseaux H/F,59 - Nord,50.528904,3.149132,NaN,NaN,NaN
2968,2137402,Ingénieur Sécurité Informatique H/F,France,49.087975,1.485013,NaN,NaN,NaN
3321,2139266,Analyste BI H/F,France,49.087975,1.485013,NaN,NaN,NaN
3395,0238945,Analyste en cybersécurité (H/F),75 - Paris (Dept.),48.868509,2.282921,NaN,NaN,NaN
4023,2989015,Chargé d'Etudes BIM H/F,France,43.298344,5.383221,NaN,NaN,NaN
4024,2988898,Chargé d'Études BIM H/F,France,43.298344,5.383221,NaN,NaN,NaN
4227,2942856,Développeur / Développeuse d'application (H/F),75 - Paris (Dept.),48.854630,2.381637,NaN,NaN,NaN
4231,2942616,Développeur Logiciel H/F,35 - Ille et Vilaine,48.114082,-1.193707,NaN,NaN,NaN
4233,2942285,Lead DevOps H/F,France,48.885372,2.266426,NaN,NaN,NaN
4254,2938388,Développeur / Développeuse web (H/F),France,43.623000,7.041000,NaN,NaN,NaN
4260,2937878,Développeur / Développeuse d'application (H/F),31 - Garonne (Haute),43.587185,1.429885,NaN,NaN,NaN
4351,2886314,Ingénieur DevOps Azure H/F,France,48.111980,-1.681864,NaN,NaN,NaN
4353,2886151,Analyste Développeur AS400 Confirmé H/F,France,48.111980,-1.681864,NaN,NaN,NaN
4354,2886120,Développeur Fullstack Java - Angular Confirmé H/F,France,48.883709,2.238342,NaN,NaN,NaN
4557,2835057,Ingénieur informaticien / Ingénieure informati...,France,43.623000,7.041000,NaN,NaN,NaN
4581,2828933,Développeur / Développeuse web (H/F),France,43.623000,7.041000,NaN,NaN,NaN
4706,2784838,Développeur Full Stack Python H/F,56 - Morbihan,47.732559,-3.441788,NaN,NaN,NaN
4733,2781455,Chargé de Projet SIRH/Paie H/F,France,48.869846,2.219655,NaN,NaN,NaN
5140,2696051,DÉVELOPPEUR JAVA / SPRING BOOT - H/F,Auvergne-Rhône-Alpes,4.660480,45.296811,NaN,NaN,NaN
5207,2622229,Développeur / Développeuse front-end (H/F),31 - Garonne (Haute),43.587185,1.429885,NaN,NaN,NaN
5214,2619897,Ingénieur R&D H/F,France,49.056408,3.381600,NaN,NaN,NaN
5303,2562230,Analyste-programmeur / Analyste-programmeuse s...,75 - Paris (Dept.),48.858442,2.346963,NaN,NaN,NaN
5304,2562218,Analyste-programmeur / Analyste-programmeuse e...,75 - Paris (Dept.),48.858442,2.346963,NaN,NaN,NaN
5305,2562217,Concepteur / Conceptrice logiciel informatique...,75 - Paris (Dept.),48.858442,2.346963,NaN,NaN,NaN
5306,2562203,Webmaster développeur / Webmaster développeuse...,67 - Rhin (Bas),48.580000,7.717911,NaN,NaN,NaN
5509,2494439,Ingénieur en Robotique et Automatisation H/F,France,48.812607,1.946985,NaN,NaN,NaN
5520,2493263,Collateral Trader Assistant (H/F),92 - Hauts de Seine,48.889735,2.241842,NaN,NaN,NaN
5600,2457070,Consultant SAP BW4HANA H/F,France,48.896069,2.206713,NaN,NaN,NaN
5785,2348065,Ingénieur d'Application H/F,91 - Essonne,48.605827,2.516149,NaN,NaN,NaN
5878,2301262,Développeur PHP H/F,35 - Ille et Vilaine,48.120228,-1.597144,NaN,NaN,NaN
5880,2300468,Developpeur PHP H/F,75 - Paris (Dept.),48.872528,2.312583,NaN,NaN,NaN
5881,2300121,Ingénieur d'Application Itinérant H/F,75 - Paris (Dept.),48.859295,2.345581,NaN,NaN,NaN
5882,2299527,Ingénieur Conception et Développement Mainfram...,France,45.782150,4.772168,NaN,NaN,NaN
5883,2299468,Développeur GraphTalk H/F,France,48.883709,2.238342,NaN,NaN,NaN
5884,2298579,Gestionnaire Configuration - Airbus H/F,France,43.596382,1.431673,NaN,NaN,NaN
5885,2298573,Ingénieur Logiciels Embarqués H/F,France,48.742931,2.394683,NaN,NaN,NaN
5886,2298285,Ingénieur d'Application H/F,France,48.773079,2.076052,NaN,NaN,NaN
5887,2297698,Développeur Windows H/F,France,48.885372,2.266426,NaN,NaN,NaN
5888,2297352,Ingénieur Développement et Architecture IT H/F,59 - Nord,50.528904,3.149132,NaN,NaN,NaN
5889,2297209,Ingénieur R&D - Matériaux H/F,France,49.051373,2.094879,NaN,NaN,NaN
5890,2297048,Responsable Développement Centrales Solaires S...,75 - Paris (Dept.),48.859295,2.345581,NaN,NaN,NaN
6073,2198766,Développeur / Développeuse d'application (H/F),67 - Rhin (Bas),48.591449,7.756967,NaN,NaN,NaN
6080,2192116,Ingénieur étude et développement application F...,92 - Hauts de Seine,48.889735,2.241842,NaN,NaN,NaN
6124,2138082,Développeur SQL Expérimenté H/F,France,48.874577,2.486340,NaN,NaN,NaN
6399,9812440,Développeur Front Office .net/Angular (H/F),92 - Hauts de Seine,48.889735,2.241842,NaN,NaN,NaN
6400,9694758,Expert .Net (H/F),92 - Hauts de Seine,48.889735,2.241842,NaN,NaN,NaN
6459,2069063,CHEF DE PROJET ERP SENIOR H/F,France,45.889195,4.816670,NaN,NaN,NaN
6530,1952268,Développeur Javascript H/F,France,47.398640,0.696526,NaN,NaN,NaN
6745,1458745,Développeur / Développeuse back-end (H/F),80 - Somme,49.932430,2.281549,NaN,NaN,NaN
6874,0533486,Développeur / Développeuse back-end (H/F),11 - Aude,43.295102,2.142232,NaN,NaN,NaN
6886,0408451,Développeur / Développeuse back-end (H/F),06 - Alpes Maritimes,43.686384,7.198882,NaN,NaN,NaN
7282,2351724,Analyste Support SAP (SD-MM) H/F,75 - Paris (Dept.),48.872528,2.312583,NaN,NaN,NaN
7289,2300521,"Ingénieur Réseaux, Systèmes et Informatique In...",69 - Rhône,45.749256,4.826170,NaN,NaN,NaN
7290,2299052,Ingénieur Système Messagerie H/F,75 - Paris (Dept.),48.835155,2.419807,NaN,NaN,NaN
7291,2246650,Directeur de la Sécurité des Systèmes d'Inform...,France,48.929565,2.359243,NaN,NaN,NaN
7326,2000803,Ingénieur Systèmes et Réseaux H/F,95 - Val d'Oise,49.006603,2.514177,NaN,NaN,NaN
7397,1953315,Data & Integration Engineer H/F,France,48.742931,2.394683,NaN,NaN,NaN
7399,1952366,DBA SQL Server H/F,France,48.898449,2.255706,NaN,NaN,NaN
7401,1951513,Data Engineer Expérimenté H/F,France,48.812805,2.387780,NaN,NaN,NaN
7402,1950787,Ingénieur Réseaux H/F,France,48.742931,2.394683,NaN,NaN,NaN
7426,1909707,Architecte SAP H/F,France,48.959019,2.536306,NaN,NaN,NaN
7429,1906396,Ingénieur Réseaux et Sécurité H/F,France,48.248116,7.462249,NaN,NaN,NaN
7430,1906044,Expert SIRH H/F,France,48.779659,2.029522,NaN,NaN,NaN
7640,1456014,Architecte de bases de données (H/F),75 - Paris (Dept.),48.841627,2.284948,NaN,NaN,NaN
8247,2888620,Data Miner (H/F),75 - Paris (Dept.),48.854630,2.381637,NaN,NaN,NaN
8331,1606465,Model Risk Manager - Analyst (H/F),92 - Hauts de Seine,48.889735,2.241842,NaN,NaN,NaN
8512,2989082,Data Analyst H/F,France,43.935246,4.840716,NaN,NaN,NaN
8513,2989081,Data Quality Analyst - Capital Market Regulato...,France,48.896069,2.206713,NaN,NaN,NaN
8514,2988984,Chargé d'Études Économiques et Stratégiques H/F,75 - Paris (Dept.),48.887337,2.307486,NaN,NaN,NaN
8720,2621845,Chargé d'Etude en Observatoire H/F,75 - Paris (Dept.),48.862629,2.336293,NaN,NaN,NaN
8861,2403667,Coopérative U - Chargé / Chargée d'études comm...,44 - Loire Atlantique,47.285830,-1.452570,NaN,NaN,NaN
8864,2351730,Chargé d'Études Risque H/F,France,48.895073,2.286883,NaN,NaN,NaN
8881,2300174,Data Analyst H/F,France,43.049931,2.239588,NaN,NaN,NaN
8886,2297253,Data Analyst H/F,France,48.869190,2.177341,NaN,NaN,NaN
9017,1910385,Ingénieur BI/Data Analyst H/F,France,49.900951,2.290074,NaN,NaN,NaN
9464,1699090,Actuaire S2 / IFRS 17 Protection (H/F),92 - Hauts de Seine,48.889735,2.241842,NaN,NaN,NaN
9470,1603251,CHARGE D'ETUDES ACTUARIELLES PILOTAGE - ASSURA...,92 - Hauts de Seine,48.889735,2.241842,NaN,NaN,NaN
9530,9518379,Auditeur confirmé en Assurance / Actuariat (H/F),92 - Hauts de Seine,48.889735,2.241842,NaN,NaN,NaN
9764,2988966,Project Manager H/F,75 - Paris (Dept.),48.862629,2.336293,NaN,NaN,NaN
9765,2988902,Chef de Projets Cloud H/F,France,43.613441,3.868517,NaN,NaN,NaN
9877,2942877,Responsable Clientèle Revendeur IT H/F,69 - Rhône,45.769928,4.829225,NaN,NaN,NaN
9879,2942356,Chef de Projet SI & MES H/F,France,48.514980,-2.761546,NaN,NaN,NaN
9880,2942321,Responsable Infrastructure et Exploitation IT H/F,France,48.400501,-4.502791,NaN,NaN,NaN
9882,2941885,Chef de Projet IT Gestion Commerciale & Indust...,France,47.231636,-1.548310,NaN,NaN,NaN
9883,2941725,"Responsable Service MOA, Intégration Paiements...",France,48.783741,2.454635,NaN,NaN,NaN
9886,2941331,Chef de Projet SI - Finance H/F,France,48.783985,2.197075,NaN,NaN,NaN
9887,2940972,Responsable SAP S4HANA FICO H/F,France,48.783741,2.454635,NaN,NaN,NaN
9930,2886219,Chef de Service Infrastructures des Systèmes d...,France,48.970123,2.405340,NaN,NaN,NaN
9932,2886086,Directeur des Systèmes d'Information - Organis...,France,48.851105,2.473954,NaN,NaN,NaN
9953,2870783,Chef de projet et référent applicatif SI Commu...,Ile-de-France,48.867657,2.396598,NaN,NaN,NaN
10042,2788701,Architecte-Référent Poste de travail H/F,Ile-de-France,48.867657,2.396598,NaN,NaN,NaN
10056,2784559,Responsable Production IT H/F,59 - Nord,50.416420,3.182415,NaN,NaN,NaN
10059,2784224,Chef de Projet Digital H/F,France,48.896069,2.206713,NaN,NaN,NaN
10062,2782304,Chef de Projet SAP Retail H/F,75 - Paris (Dept.),48.872528,2.312583,NaN,NaN,NaN
10074,2779902,Responsable Master Data H/F,75 - Paris (Dept.),48.872528,2.312583,NaN,NaN,NaN
10082,2777498,Coopérative U - Chef de projet étude et dévelo...,44 - Loire Atlantique,47.285830,-1.452570,NaN,NaN,NaN
10255,2632191,Chef de Projet SIRH H/F,75 - Paris (Dept.),48.844509,2.349859,NaN,NaN,NaN
10294,2621792,Comptable Chargé SI H/F,France,48.896069,2.206713,NaN,NaN,NaN
10296,2620944,Chef de Projet Déploiement Matériel Informatiq...,France,48.959019,2.536306,NaN,NaN,NaN
10297,2620801,Chef de Projet ERP Dynamics 365 H/F,France,48.869190,2.177341,NaN,NaN,NaN
10298,2620782,Chef de Projet du Système Informatique Hospita...,75 - Paris (Dept.),48.840157,2.293559,NaN,NaN,NaN
10302,2619907,Responsable Support Informatique H/F,France,48.400501,-4.502791,NaN,NaN,NaN
10329,2561924,Architecte Chargé de Projet Revit H/F,75 - Paris (Dept.),48.848969,2.332671,NaN,NaN,NaN
10330,2561482,Chef de Projets Observatoire H/F,75 - Paris (Dept.),48.862629,2.336293,NaN,NaN,NaN
10332,2561135,Chef de Projet ERP H/F,France,48.802567,2.117893,NaN,NaN,NaN
10333,2560846,Ingénieur Support Applicatif H/F,France,48.898449,2.255706,NaN,NaN,NaN
10334,2560752,Responsable du Service d'Exploitation IT H/F,France,49.114460,6.172090,NaN,NaN,NaN
10454,2495175,Responsable des Opérations - Self-Stockage H/F,France,43.536072,5.398574,NaN,NaN,NaN
10483,2457565,Chef de Projet ERP H/F,France,47.903000,1.909300,NaN,NaN,NaN
10572,2351739,Chef de Projet SI Financières GAM GAP H/F,France,48.802567,2.117893,NaN,NaN,NaN
10573,2351659,Chef de Projet SAP (MM-SD) H/F,75 - Paris (Dept.),48.872528,2.312583,NaN,NaN,NaN
10574,2351626,Chef de Projet Expert Sage - Optimisation des ...,75 - Paris (Dept.),48.828995,2.327101,NaN,NaN,NaN
10623,2301358,Directeur des Systèmes d'Information H/F,France,50.631718,3.047833,NaN,NaN,NaN
10625,2301173,Chef de Projet SAP - SD H/F,France,48.959019,2.536306,NaN,NaN,NaN
10627,2300374,Responsable IT H/F,France,47.988525,0.200030,NaN,NaN,NaN
10628,2300183,Chef de Projet ERP H/F,France,44.854832,-0.521019,NaN,NaN,NaN
10629,2300000,Architecte Chef de Projet H/F,France,43.298344,5.383221,NaN,NaN,NaN
10630,2299918,Chef de Projet Finance SAP FI-CO H/F,France,48.895073,2.286883,NaN,NaN,NaN
10632,2299345,Chef de Projet - Airbus H/F,France,43.596382,1.431673,NaN,NaN,NaN
10633,2298961,Chef de Projet ERP H/F,France,48.111980,-1.681864,NaN,NaN,NaN
10634,2298792,Responsable IT VIP H/F,75 - Paris (Dept.),48.872528,2.312583,NaN,NaN,NaN
10635,2298713,Chef de Projets SI Confirmé H/F,France,48.883709,2.238342,NaN,NaN,NaN
10636,2298488,Responsable Informatique H/F,France,48.883709,2.238342,NaN,NaN,NaN
10637,2298358,Chef de Projet IT ESR H/F,France,44.922981,4.914440,NaN,NaN,NaN
10638,2297857,Responsable Applicatif H/F,France,48.111980,-1.681864,NaN,NaN,NaN
10640,2297480,Chef de Projet AMOA SIRH H/F,France,48.895073,2.286883,NaN,NaN,NaN
10660,2246256,Chef de Projet SI AMOA H/F,France,48.775002,1.993440,NaN,NaN,NaN
10661,2246137,Responsable Informatique - RSI H/F,France,48.812805,2.387780,NaN,NaN,NaN
10733,2192892,IT Project Manager France H/F,France,43.298344,5.383221,NaN,NaN,NaN
10735,2192525,Coopérative U - Chef de projet étude et dévelo...,94 - Val de Marne,48.746160,2.357360,NaN,NaN,NaN
10737,2191944,Chef de Projet IT Wms Reflex H/F,France,49.847233,3.277695,NaN,NaN,NaN
10739,2191597,Project Engineering Manager H/F,France,48.822807,2.407609,NaN,NaN,NaN
10744,2190109,Directeur du Service Informatique H/F,France,50.727135,1.607563,NaN,NaN,NaN
10764,2138410,Chef de Projet SAP MM H/F,France,48.959019,2.536306,NaN,NaN,NaN
10838,2000788,Responsable SI Industriel H/F,France,47.903000,1.909300,NaN,NaN,NaN
10885,1952094,Chef de Projet ERP D365 H/F,France,48.111980,-1.681864,NaN,NaN,NaN
10886,1951330,Chef de Projets IT Transverse H/F,France,48.742931,2.394683,NaN,NaN,NaN
10903,1910391,Directeur des Systèmes d'Information H/F,France,48.690201,6.175883,NaN,NaN,NaN
10905,1908679,Chef de Projet SAP Finance H/F,France,48.959019,2.536306,NaN,NaN,NaN
10926,1892664,Chef de Projets WMS H/F,France,50.631718,3.047833,NaN,NaN,NaN
10928,1892400,Responsable Exploitation/Production IT H/F,75 - Paris (Dept.),48.835155,2.419807,NaN,NaN,NaN
10929,1892234,Chef de Projet SI Finance H/F,75 - Paris (Dept.),48.876896,2.337460,NaN,NaN,NaN
10953,1847850,Gestionnaire Applicatif SIRH H/F,France,48.802567,2.117893,NaN,NaN,NaN
10957,1846025,Responsable Domaine Supply H/F,France,48.869190,2.177341,NaN,NaN,NaN
10959,1845768,Responsable IT - RSI H/F,France,48.812805,2.387780,NaN,NaN,NaN
10960,1845509,Project Manager (Mâcon) H/F,France,46.320553,4.818425,NaN,NaN,NaN
10978,1794696,Référent applicatif SIRH H/F,Ile-de-France,48.867657,2.396598,NaN,NaN,NaN
10986,1786773,Chef de Projet SAP FI/CO H/F,France,48.514980,-2.761546,NaN,NaN,NaN
11037,1697922,Coopérative U - Chef de projet maîtrise d'oeuv...,94 - Val de Marne,48.746160,2.357360,NaN,NaN,NaN
11088,1449099,Coopérative U - Responsable du réseau informat...,34 - Hérault,43.658870,3.955050,NaN,NaN,NaN
11193,0761278,Chef de Projet - Risques Opérationnels (H/F),92 - Hauts de Seine,48.889735,2.241842,NaN,NaN,NaN
11257,9695003,Responsable de la Public Cloud Authority (H/F),92 - Hauts de Seine,48.889735,2.241842,NaN,NaN,NaN
11354,6426586,Manager/Senior Manager Climate Change & Sustai...,92 - Hauts de Seine,48.889735,2.241842,NaN,NaN,NaN
11385,2988899,Business Analyst H/F,France,48.896069,2.206713,NaN,NaN,NaN
11484,2619623,Chargé d'Étude Démolition H/F,France,48.907688,2.438640,NaN,NaN,NaN
11566,2347942,Ingénieur Cybersécurité Industrielle H/F,France,48.898449,2.255706,NaN,NaN,NaN
11573,2192736,Responsable des Laboratoires Industriels H/F,France,48.602512,2.302162,NaN,NaN,NaN
12765,2622294,Moniteur / Monitrice d'équitation (H/F),95 - Val d'Oise,49.032208,2.359696,NaN,NaN,NaN
12843,2347912,Moniteur / Monitrice d'équitation (H/F),95 - Val d'Oise,49.032208,2.359696,NaN,NaN,NaN
12995,1703817,Éducateur / Éducatrice d'activités sportives (...,34 - Hérault,43.394721,3.370285,NaN,NaN,NaN
13060,0746666,Animateur sportif / Animatrice sportive (H/F),75 - Paris (Dept.),48.832951,2.385634,NaN,NaN,NaN
13073,0365379,Animateur de loisirs sportifs / Animatrice de ...,05 - Alpes (Hautes),44.435390,5.929096,NaN,NaN,NaN
13359,2069855,Ingénieur logiciel H/F,16 - Charente,45.957272,-0.015385,NaN,NaN,NaN
13364,2000858,Responsable Projets Sage X3 H/F,69 - Rhône,45.830326,4.771682,NaN,NaN,NaN
13405,1847214,Ingénieur Cybersécurité H/F,France,48.812805,2.387780,NaN,NaN,NaN

In [966]:
latitude_min = 42.3328  # Sud
latitude_max = 51.0892  # Nord
longitude_min = -4.7956  # Ouest
longitude_max = 8.2306  # Est


def check_and_swap(row):
    """
    Fonction pour inverser la latitude et la longitude si la latitude est hors de la fourchette
    """

    if row["latitude"] < latitude_min or row["latitude"] > latitude_max:
        row["latitude"], row["longitude"] = row["longitude"], row["latitude"]

    if (latitude_min <= row["latitude"] <= latitude_max) and (longitude_min <= row["longitude"] <= longitude_max):
        # on assigne "cas_02" à "lieu_cas" si les coordonnées sont dans la France métropolitaine
        row["lieu_cas"] = "cas_02"
    else:
        row["lieu_cas"] = "cas_02_pb_coords_gps"

    return row

In [967]:
cas_02 = df_lieu[~df_lieu.lieu_cas.isin(["cas_01"])  # != cas 01
               & ~df_lieu.latitude.isna()
                  ].apply(check_and_swap, axis=1)  # fmt: off

In [968]:
cas_02.head()

,id,intitule,libelle,latitude,longitude,codePostal,commune,lieu_cas
128,2562212,Administrateur / Administratrice système et ré...,53 - Mayenne,48.084490,-0.752160,NaN,NaN,cas_02
149,2457112,Administrateur / Administratrice système infor...,31 - Garonne (Haute),43.622232,1.493516,NaN,NaN,cas_02
267,7556682,Administrateur / Administratrice système infor...,34 - Hérault,43.583130,3.867020,NaN,NaN,cas_02
397,2989000,Administrateur Système Réseaux H/F,France,48.951134,2.241041,NaN,NaN,cas_02
584,2494698,Administrateur Bases de Données H/F,France,45.797405,4.851249,NaN,NaN,cas_02

In [969]:
# On met à jour df_lieu avec les valeurs de latitude/longitude (car certaines offres ont vu ces valeurs s'inverser), et la valeur de lieu_cas
df_lieu.update(cas_02)

In [975]:
# df_lieu[df_lieu.lieu_cas == "cas_02"]
df_lieu.lieu_cas.value_counts()

lieu_cas
cas_01    12118
cas_02      191
Name: count, dtype: int64

In [976]:
df_lieu

,id,intitule,libelle,latitude,longitude,codePostal,commune,lieu_cas
0,188VMCV,Administrateur d'exploitation IBMi (H/F),38 - SEYSSINET PARISET,45.174023,5.679611,38170,38485,cas_01
1,188TYYN,Technicien Sécurité Informatique Débutant H/F ...,76 - Eslettes,49.545866,1.055336,76710,76245,cas_01
2,188TSBV,Technicien administrateur des systèmes d'infor...,72 - LE MANS,47.993378,0.191169,72000,72181,cas_01
3,188LMFH,"Administrateur systèmes, réseaux et sécurité (...",48 - MENDE,44.526181,3.484851,48000,48095,cas_01
4,188JCHD,Adjoint du Chef de Service Informatique et Mul...,75 - PARIS 06,48.849268,2.330883,75006,75106,cas_01
...,...,...,...,...,...,...,...,...
13414,1988889,Consultante / Consultant CRM Siebel - Montpell...,34 - MONTPELLIER,43.610476,3.870480,34000,34172,cas_01
13415,1988437,Ingénieur d'application H/F,75,NaN,NaN,NaN,75056,cas_01
13416,1987551,Lead Control Engineer F/H (H/F),90 - BELFORT,47.640938,6.857469,90000,90010,cas_01
13417,1986825,Responsable Etudes (H/F),94 - CHEVILLY LARUE,48.767525,2.350879,94550,94021,cas_01
13418,1986485,CDI- ASSISTANT COORDINATEUR H/F,92 - CLICHY,48.903480,2.304932,92110,92024,cas_01